

header{
    color: #EEEEEE;
    text-shadow: 1px 1px #322B2B;
}
#logo-text{
    font-family: 'Roboto', sans-serif;
    color: #EEEEEE;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient( #44A442, #266426);
    text-shadow: 1px 1px #322B2B;
}
body{
    /* background-image: url(windows_xp_background.jpg); */
}
header{
    background-color: #307BE5;
    margin: auto;
    bottom: 0 !important;
    position: fixed;
    width: 100%;
    width: 100vw;
}
nav{
    background-color: #1A50B8;
}
.nav-pill{
    color: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px #322B2B;
    width: 10em;
    background-color: #4982EC;
    border: #322B2B thin solid;
    border-radius: 2.5px;
}
#icon-holder{
    width: 8em;
}
#endcap{
    background-color: #1290E8;
    border-radius: 2.5px;
    padding: 2px;
    width: 6em;
    color: #EEEEEE;
}
.close{
    color: #EEEEEE;
    line-height: 0 !important;
    opacity: 100;
    background-image: linear-gradient(#D15734,#B2472A) !important;
    text-shadow: none;
    border: thin #EEEEEE solid !important;
    border-radius: 6px !important;
    width: 25px;
    font-size: 2rem;
    font-weight: normal;
    padding: 0.80rem !important;
}
span{
    margin-left: -0.25em;
}
.toolbar{
    background-color: #F0F0E8;
    width: 100%;
    margin: auto 0;
    height: 20px;
    font-size: 12px;
}
.toolbar-spacer{
    margin-left: 2em;
}

.modal-content{
    border-radius: 0;
    width: 44rem;
    border: solid thin #0055E4;
}
.modal-header{
    color: #EEEEEE;
    text-shadow: 1px 1px #322B2B;
    background-color: #0055E4 !important;
    height: 1em;
    line-height: 2;
    border-radius: 0;
}

.modal-title{
    font-size: 14px !important;
    margin-bottom: 10em; 
    line-height: 0 !important;
}
.modal-body{
    padding: 0;
}
.modal-content-body{
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}

/* Mobile */

@media screen and (max-width: 1000px){
    p{
        font-size: 2em !important;
    }

    header, nav, .nav-pill{
        height: 5rem;
        font-size: 1.27rem;
    }

    #icon-holder, #time{
        display: none;
    }
    #logo-text{
        font-size: 1.5rem;
    }
    .modal-content{
        width: 160%;
        margin-left: -10rem;
    }
    .modal-header{
        height: 3rem;
    }
    .modal-title{
        font-size: 2rem !important;
        margin-top: 5px;
    }
    .toolbar{
        font-size: 0.75rem;
        height: 35px;
    }
    .close{
        width: 10%;
        padding: 1.27rem !important;
        margin-left: -5px;
        font-size: 3em;
    }
}